body {
  font-family: "Cutive, serif";
}

h1 {
  background-color: rgb(230, 150, 150);
  padding: 20px;
}

p {
  font-size: 3rem;
  font-weight: lighter;
}

footer {
  margin-top: 75px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(230, 150, 150);;
}

footer ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

footer ul li {
  width: 200px;
}

.emphasis {
  font-style: italic;
}
